# EXP : PYTHON Operators

# 1. Arithmatic Operators : are used to perform common mathematical operations.

In [1]:
a,b=45,35                  #'+' is the addition operator. When it is used with integers , it numerically adds them up.
print("a+b =",a+b)

a+b = 80

In [2]:
a,b="jala","ndhar"         #When used with strings or lists , then it will concetenate them.
c,d=[1,2,3],["f","g","h"]
print("a+b =",a+b)
print("c+d =",c+d)

a+b = jalandhar
c+d = [1, 2, 3, 'f', 'g', 'h']

In [3]:
a,b=3,18                 #'*' is multiplication operator. when it is used with integers it multiplies them numerically.
print("a*b =",a*b)

a*b = 54

In [4]:
a,b=4,"cse"              #When used with list or strings , it performs repetition.
c,d=3,["p","q","r"]
print("a*b =",a*b)
print("c*d =",c*d)

a*b = csecsecsecse
c*d = ['p', 'q', 'r', 'p', 'q', 'r', 'p', 'q', 'r']

In [5]:
a,b=100,7                #'/' is the division operator. It is used for dividing two integers.it gives float answer.
print("a/b =",a/b)

a/b = 14.285714285714286

In [6]:
a,b=100,7             #'//' is the floor division operator. It is used for dividing two integers and give answer to greatest
print("a//b =",a//b)  # integer less than or equal to the result that would have been obtained by simple division.

a//b = 14

In [7]:
a,b=2,12              #'**' operator is used for raising first integer to the power equal to second integer.
print("a**b =",a**b)

a**b = 4096

In [8]:
a,b=87,42                  #'-' is the subtraction operator. When it is used with integers , it numerically subtracts them up.
print("a-b =",a-b)

a-b = 45

In [9]:
a,b="jalandhar","andhar"   #'-' operator cannot be used for lists and strings.
print("a-b =",a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# 2. Logical Operators : are used to combine conditional statements

In [10]:
5==5 and 6==5         #And operator returns true when both statements are true.

False

In [11]:
5==5 or 6==5          #Or operator returns true if one of the statements is true.

True

In [12]:
not(5==5 and 6==5)    #Not operator reverses the result i.e returns true if argument result is false.

True

# 3. Identity Operators : are used to compare the objects , not if they are equal but if they are actually the same object.

In [13]:
x,y=23,23             #Returns true if both variables are the same object.
x is y

True

In [14]:
a,b=123,84            #Returns true if both variables are not the same object.
a is not b

True

# 4. Membership Operators : are used to test if a sequence is presented in an object.

In [15]:
a,b="abc",["abc","def","ghi"] #Returns true if a sequence with specified value is present in the object.
a in b

True

In [17]:
c,d="3",["1","2","3","4","5"] #Returns true if a sequence with specified value is not present in the object.
c not in d

False

# 5. Comparison Operators : are used to compare two values.